{:migrators {:crux-mig "test-resources/joplin/migrators/crux"}
 :seeds     {:crux-seed "seeds.crux/run"}
 :databases {:crux-dev {:type :crux
                      :conf {}}}
 :environments {:dev [{:db       :crux-dev
                       :migrator :crux-mig
                       :seed     :crux-seed}]}}
